{% extends 'base.html' %}

{% block content %}

<br>
<h2>{% block title %}FC Leaders{% endblock %}</h2>

<div class="container mt-5">

    <p>Meet the team! The members listed here are the founding members of the Free Company and by no means everyone! Below you'll find a little bit of information about each of the founders, if you're interested joining the FC, feel free to message us in-game or use the contact us page.
    </p>
    <br>
    <hr class="solid">
    <br>
        <div class = "row">
            <div class="col-lg pt-2">
                <img class='columnpic' src="/static/images/members-pics/Niku.png" alt="Niku">
            </div>
            <div class="col-lg pt-5">
                <h3>Nikushimi Kurushimi</h3>
                <h4>"brb going for a smoke..."</h4>
                <p>More likely to hurt you than heal you, manga artist, voted most likely to get drunk during raid night.</p>
            </div>
        </div>

        <hr class="solid">

        <div class="row">
            <div class="col-lg pt-5">
                <h3>Akiko Rei</h3>
                <h4>Hello there...</h4>
                <p>Will almost definitely greed and cause a raid wipe, allergic to crafting, mentors and healer bubbles.</p>
            </div>
            <div class="col-lg pt-2">
                <img class='columnpic'src="/static/images/members-pics/Akiko.png" alt="Akiko">
            </div>
        </div>
        <hr class="solid">

        <div class="row">
            <div class="col-lg pt-2">
                <img class='columnpic'src="/static/images/members-pics/Anura.png" alt="Anura">
            </div>
            <div class="col-lg pt-5">
                <h3>Anura Rhel</h3>
                <h4>"Do better."</h4>
                <p>Black mage apologist, hates all forms of movement, loves Dominos.</p>
            </div>
        </div>

        <hr class="solid">
        
        <div class="row">
            <div class="col-lg pt-5">
                <h3>Kiriena Delacour</h3>
                <h4>Enthusiastic RolePlayer</h4>
                <p>Sometimes a Summoner, sometimes a Gunbreaker, Mentor BTW.</p>
            </div>
            <div class="col-lg pt-2">
                <img class='columnpic'src="/static/images/members-pics/Kiri.png" alt="Anura">
            </div>
        </div>

        <hr class="solid">
        
        <div class="row">
            <div class="col-lg pt-2">
                <img class='columnpic' src="/static/images/members-pics/Neyney.png" alt="Ney-Ney">
            </div>
            <div class="col-lg pt-5">
                <h3>Neyney</h3>
                <h4>Sleepwalking to victory</h4>
                <p>Shin buster 9000, mad because small, jealous of tall.</p>
            </div>
        </div>

        <hr class="solid">
        
    </div>
</div>


{% endblock %}