{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<h2>ABOUT THE FREE COMPANY</h2>
<div class = "container mt-5 ">

    <p>'Bahamut was Right' is a Free Company (That's what we call guilds here) for the critically acclaimed MMORPG Final Fantasy XIV which has an expanded <a href="https://freetrial.finalfantasyxiv.com/gb/" target="_blank">free trial</a> which you can play through the entirety of A Realm Reborn and the award winning Heavensward expansion up to level 60 for free with no restrictions on playtime.</p>
    <p>We are a European Free Company based on the Cerberus server on the Chaos data centre. We are primarily a social FC, always eager to make new friends, gaming is more fun with other people! We run all sorts of sort from organised events to more spontaneous daily activities.
    </p>
    <p>We welcome players of all types, the end game veterans and greenest of sprouts (Sprouts is the communities term of endearment for new people). If you want to find more info, or meet some of the crew, feel free to check out our Discord</p>
        
    <!-- <a href="https://discord.gg/FqENvtCn3a" target="_blank">Discord server</a> --> 
    
    <!-- Removed the discord link just in case it would cause complications -->

    <br>
    <hr class="solid">
    <br>
    <div class="row">
        <div class="col-lg pt-5">
            <img class='columnpic' src="/static/images/home-pics/column1.jpeg" alt="The Gold Saucer">
        </div>
        <div class="col-lg pt-1">
            <h3>Casual Content</h3>
            <p>Casual content could be anything from hanging out at the FC estate, talking to people in FC chat or running low effort content as a group. We're a social bunch and there's normally something happening at any hour of the day. If you want help with progressing in your story dungeons, knowing how to build a triple triad deck or help with your fashion (the true endgame, if we're being real) there's always gonna be someone eager to lend a hand.</p>
        </div>
    </div>

    <hr class="solid">

    <div class="row">
        <div class="col-lg pt-5">
            <h3>Organised Content</h3>
            <p>We normally have a few events scheduled a week dependng on where we're at in the patch cycle. Anything from mount farming to treasure hunting for some quick gil, there's always something to sign up for.</p>
        </div>
        <div class="col-lg pt-3">
            <img class='columnpic'src="/static/images/home-pics/column2.jpg" alt="Treasure Hunting">
        </div>
    </div>

    <hr class="solid">

    <div class="row">
        <div class="col-lg pt-4">
            <img class='columnpic'src="/static/images/home-pics/column3.jpeg" alt="Raid Gear">
        </div>
        <div class="col-lg pt-4">
            <h3>Weekly Raid Clears</h3>
            <p>Want to learn how to raid but you're scared of learning with complete strangers? well we've got your back! We have a mix of experiences with Alliance Raids, Normals and Savage and we like putting together FC runs for people that want to farm some gear or see something for the first time!</p>
        </div>
    </div>

    <hr class="solid">
    
</div>
</div>
{% endblock %}